<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.TopMapper">
    
    <resultMap type="Top" id="TopResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
    </resultMap>

    <sql id="selectTopVo">
        select id, name, address from top
    </sql>

    <select id="selectTopList" parameterType="Top" resultMap="TopResult">
        <include refid="selectTopVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
        </where>
    </select>
    
    <select id="selectTopById" parameterType="Long" resultMap="TopResult">
        <include refid="selectTopVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTop" parameterType="Top">
        insert into top
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="address != null">address,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="address != null">#{address},</if>
         </trim>
    </insert>

    <update id="updateTop" parameterType="Top">
        update top
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="address != null">address = #{address},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTopById" parameterType="Long">
        delete from top where id = #{id}
    </delete>

    <delete id="deleteTopByIds" parameterType="String">
        delete from top where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>