<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('景区详情列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>markerid：</label>
                                <input type="text" name="markerid"/>
                            </li>
                            <li>
                                <label>中文标题：</label>
                                <input type="text" name="cntitle"/>
                            </li>
                            <li>
                                <label>英文标题：</label>
                                <input type="text" name="entitle"/>
                            </li>



                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="test:detail2:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="test:detail2:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="test:detail2:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="test:detail2:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('test:detail2:edit')}]];
        var removeFlag = [[${@permission.hasPermi('test:detail2:remove')}]];
        var prefix = ctx + "test/detail2";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "景区详情",
                columns: [{
                    checkbox: true
                },


                {
                    field: 'markerid',
                    title: 'markerid'
                },
                {
                    field: 'cntitle',
                    title: '中文标题'
                },
                {
                    field: 'entitle',
                    title: '英文标题'
                },
                {
                    field: 'icon',
                    title: '图标',
                    formatter: function(value, row, index) {
		return $.table.imageView(value);
	}
                },
                {
                    field: 'pic1',
                    title: '图片1',
                    formatter: function(value, row, index) {
		return $.table.imageView(value);
	}
                },
                {
                    field: 'pic2',
                    title: '图片2',
                    formatter: function(value, row, index) {
		return $.table.imageView(value);
	}
                },
                {
                    field: 'pic3',
                    title: '图片3',
                    formatter: function(value, row, index) {
		return $.table.imageView(value);
	}
                },
                {
                    field: 'pic4',
                    title: '图片4',
                    formatter: function(value, row, index) {
		return $.table.imageView(value);
	}
                },
                {
                    field: 'pic5',
                    title: '图片5',
                    formatter: function(value, row, index) {
		return $.table.imageView(value);
	}
                },
                {
                    field: 'bgpic',
                    title: '背景图片',
                    formatter: function(value, row, index) {
		return $.table.imageView(value);
	}
                },
                {
                    field: 'soundcn',
                    title: '中文语音'
                },
                {
                    field: 'sounden',
                    title: '英文语音'
                },
                {
                    field: 'soundhk',
                    title: '香港语音'
                },
                {
                    field: 'lontitude',
                    title: '经度'
                },
                {
                    field: 'latitude',
                    title: '纬度'
                },
                {
                    field: 'type',
                    title: '类别'
                },
                {
                    field: 'titlebg',
                    title: '标题背景',
                    formatter: function(value, row, index) {
		return $.table.imageView(value);
	}
                },
                {
                    field: 'cardimg',
                    title: '剪影图片',
                    formatter: function(value, row, index) {
		return $.table.imageView(value);
	}
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>